git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.1
parse-torrent-name
TgCrypto
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python==1.5.1
httpx==0.14.2
youtube-search
heroku3
pillow
motor
dnspython
pytz==2021.3
APScheduler==3.8.1
python-dotenv==0.19.2
